@import "styles/baseline/_styles";

.backspace-button-svg {
  path {
    fill: var(--color-grey-heavy);
  }
}

.tutorial-button-svg {
  g {
    path {
      fill: var(--color-icon);
    }
  }
}

.statistics-button-svg {
  rect {
    fill: var(--color-icon);
  }

  path {
    stroke: var(--color-header) !important;
  }
}
