@import "styles/baseline/_styles";

@keyframes key-pressed-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.key {
  @include font(16, 19);
  @include flex-center;

  font-weight: map-get($font-weights, "semi-bold");
  background-color: var(--color-grey-regular);
  color: var(--color-grey-heavy);
  min-width: 34.5px;
  min-height: 41px;
  border-radius: 5px;
  text-transform: uppercase;

  @include respond-above(md) {
    @include font(18, 21);

    min-width: 44.5px;
    min-height: 51px;
  }
}

.is-selected {
  animation: key-pressed-animation 0.3s;
}

.enter,
.backspace {
  @include font(15, 18);

  min-width: 71px;
}
