@import "styles/baseline/_styles";

.button {
  @include font(20, 26);

  cursor: pointer;
  outline: none;
  border: initial;
  color: var(--color-button-text);
  background-color: var(--color-primary);
  transition: $global-transition;
  padding: 9px 25px;

  @include respond-above(sm) {
    @include font(28, 32);

    min-width: 263px;
  }

  &:hover {
    opacity: 0.9;
  }
}
