@import "styles/baseline/_styles";

.container {
  max-width: map-get($max-width, "xl");
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 16px;

  @include respond-above(md) {
    padding: 0 30px;
  }
}
