/* (Optional) Adapt to dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* (Optional) if user enable contrast mode (WD) */
@media (prefers-contrast: high) {
  :root{}
}

/* (Optional) if user disable animations */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Reset paddings/margins */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Img fixes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;

  /* (Optional) */
  object-fit: cover;

  /* (Optional) */
  object-position: center center;
}

/* Reset all links */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

/* Reset list elements <li> */
li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

/* Disable default styles for texts */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* (Optional) Config selection text */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;

  /* (Optional) */
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentcolor;
}
