// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import "theme";
@import "reset";

body {
  background-color: var(--color-body);
}

.ReactModal__Content {
  padding: 0 !important;
  max-width: 546px;
  margin: 0 auto;
  border: 1px solid var(--color-black) !important;
  border-radius: 10px !important;
}
