:root {
  --color-white: #fff;
  --color-white-secondary: #fff;
  --color-black: #000;
  --color-body: #f9f9f9;
  --color-primary: #6aaa64;
  --color-secondary: #ceb02c;
  --color-grey: rgba(218, 220, 224, 30%);
  --color-grey-light: rgba(147, 155, 159, 30%);
  --color-grey-regular: #d3d6da;
  --color-grey-medium: #939b9f;
  --color-grey-dark: #818181;
  --color-grey-heavy: #56575e;
  --color-button-text: #fff;
  --color-modal-background: #f3f3f3;
  --color-modal-overlay: rgba(243, 243, 243, 89%);
  --color-modal-border: rgba(0, 0, 0, 100%);
  --color-header: #f3f3f3;
  --color-icon: rgba(0, 0, 0, 49%);
}

[data-theme="dark"] {
  --color-white: #000;
  --color-white-secondary: #262b3c;
  --color-black: #fff;
  --color-body: #262b3c;
  --color-primary: #6aaa64;
  --color-secondary: #ceb02c;
  --color-grey: rgba(218, 220, 224, 3%);
  --color-grey-light: rgba(147, 155, 159, 30%);
  --color-grey-regular: #565f7e;
  --color-grey-medium: #939b9f;
  --color-grey-dark: #dadce0;
  --color-grey-heavy: #fff;
  --color-button-text: #fff;
  --color-modal-background: #262b3c;
  --color-modal-overlay: rgba(38, 43, 60, 89%);
  --color-modal-border: rgba(147, 155, 159, 100%);
  --color-header: #2c3141;
  --color-icon: #fff;
}
