:root {
  --color-white: #fff;
  --color-black: #000;
  --color-body: #f9f9f9;
  --color-primary: #6aaa64;
  --color-secondary: #ceb02c;
  --color-grey: rgba(218, 220, 224, 30%);
  --color-grey-light: rgba(147, 155, 159, 30%);
  --color-grey-regular: #d3d6da;
  --color-grey-medium: #939b9f;
  --color-grey-dark: #818181;
  --color-grey-heavy: #56575e;
  --color-button-text: #fff;
}

[data-theme="dark"] {
  --color-white: #000;
  --color-black: #fff;
  --color-body: #262b3c;
  --color-primary: #6aaa64;
  --color-secondary: #ceb02c;
  --color-grey: rgba(218, 220, 224, 30%);
  --color-grey-light: rgba(147, 155, 159, 30%);
  --color-grey-regular: #d3d6da;
  --color-grey-medium: #939b9f;
  --color-grey-dark: #818181;
  --color-grey-heavy: #56575e;
  --color-button-text: #fff;
}
