@import "styles/baseline/_styles";

.slot {
  @include font(26, 32);
  @include flex-center;

  min-width: 40px;
  min-height: 40px;
  color: var(--color-button-text);
  background-color: var(--color-grey-light);
  border-radius: 5px;
  text-align: center;
  font-weight: map-get($font-weights, "heavy");
  text-transform: uppercase;

  @include respond-above(sm) {
    @include font(30, 36);

    min-width: 55px;
    min-height: 55px;
  }

  @include respond-above(md) {
    @include font(35, 41);

    min-width: 76px;
    min-height: 75px;
  }
}

.success {
  background-color: var(--color-primary);
}

.filled {
  background-color: var(--color-white-secondary);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.wrong {
  background-color: var(--color-grey-medium);
}

.close {
  background-color: var(--color-secondary);
}

.empty {
  background-color: var(--color-grey-light);
}
